---
import Layout from "../layouts/Layout.astro";
import Presentacion from "../components/Presentacion.astro";
import Nav from "../components/Nav.astro";
import Proyectos from "../components/Proyectos.astro";
import Experiencia from "../components/Experiencia.astro";
import SobreMi from "../components/SobreMi.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portafolio">
  <Nav />
  <main class="max-w-screen-lg m-auto">
    <Presentacion
      title="Hola, soy Rafael"
      description="Tengo a침os de experiencia en programaci칩n, marketing, comunicaci칩n y edici칩n audiovisual <strong>demostrada con proyectos exitosos. +150.000 seguidores, +10.000.000 de visitas.</strong>"
    />

    <Proyectos />
    <Experiencia />
    <SobreMi />
  </main>
  <Footer />
</Layout>
