---
interface Props {}

//const { img, title, description } = Astro.props;
---

<footer class="mt-28 pb-10">
  <article class="flex gap-4 text-zinc-50 justify-center">
    <a href="#">Volver arriba</a>
    <a href="mailto:srmarincontacto@gmail.com">Contacto</a>
  </article>
</footer>

<style>
  a:hover {
    text-shadow: #99f6e3f8 1px 0 10px;
  }
</style>
