---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-dvh bg-[#020617]">
    <div class="absolute inset-0 -z-10 h-full w-full bg-[#020617]">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
    <slot />
  </body>
</html>

<style is:global>
  * {
  }
  #icon {
    width: 15px;
  }
  h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  h3 {
    text-shadow: #99f6e344 1px 0 10px;
  }
  #sobre-mi-txt > p > strong {
    text-shadow: #99f6e344 0px 0 10px;
  }
</style>
